<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<h2>Participants</h2>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Attended</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meeting.participants.each do |participant| %>
      <tr>
        <td><%= participant.user.full_name %></td>
        <td><%= participant.user.email %></td>
        <td><%= participant.attended %></td>
        <td><%= participant.description %></td>
        <td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path %>


<p>
  <strong>Trashed:</strong>
  <%= @meeting.trashed %>
</p>

<p>
  <strong>Template:</strong>
  <%= @meeting.template %>
</p>

<p>
  <strong>Draft:</strong>
  <%= @meeting.draft %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @meeting.archived %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @meeting.completed %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @meeting.privacy %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @meeting.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @meeting.ends_at %>
</p>

<p>
  <strong>All day:</strong>
  <%= @meeting.all_day %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @meeting.creator_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @meeting.account_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @meeting.location_id %>
</p>

<p>
  <strong>Location comments:</strong>
  <%= @meeting.location_comments %>
</p>

<p>
  <strong>Color:</strong>
  <%= @meeting.color %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
