<%= simple_form_for(@agenda_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ends_at %>
    <%= f.input :starts_at %>
    <%= f.input :completed %>
    <%= f.input :trashed %>
    <%= f.input :description %>
    <%= f.input :position %>
    <%= f.input :presenter %>
    <%= f.input :name %>
    <%= f.association :meeting %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
