<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :account %>
    <%= f.association :creator %>
    <%= f.association :parent_group %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
