<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Users</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Admin</a>
      </li>
      <li class="active">
        <strong>Users</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <a href="" class="btn btn-primary">This is action area</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Users</h5> <span class="label label-primary">IN+</span>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li><a href="#">Config option 1</a>
                  </li>
                  <li><a href="#">Config option 2</a>
                  </li>
                </ul>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">

              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Email</th>
                    <th>Registered</th>
                    <th>Last sign in</th>
                    <th>Visits</th>
                    <th>Confirmed?</th>
                    <th>Invitation</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each do |user| %>
                  <tr>
                    <td><%= link_to user.full_name, user_path(user) %> <%= link_to user.email, ('mailto:'+user.email) %></td>
                    <td><%= user.try(:created_at).try(:to_date) %></td>
                    <td><%= user.last_sign_in_at.try(:to_date) %></td>
                    <td><%= user.sign_in_count %></td>
                    <td><%= user.confirmation_token %></td>
                    <td><%= (user.confirmation_token.nil? ? (link_to "send invitation", invite_user_path(user), {:class => 'btn btn-mini'}) : (link_to "resend", invite_user_path(user), {:class => 'btn btn-mini'})) unless user.confirmed_at %></td>
                    <td>
                      <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Assign role</a>
                      <%= render user %>
                    </td>
                    <td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>