<%# add navigation links to this file %>

<% if current_user %>
<li class="active">
    <a href="meetings"><i class="fa fa-files-o"></i> <span class="nav-label">Today </span><span class="label label-warning pull-right"><%= current_user.meetings.count if current_user %></span></a>
    <ul class="nav nav-second-level">
        <% current_user.meetings.each do |meeting| %>
        <li><%= link_to meeting.name, meeting %></li>
        <li><a href="form_basic.html">Action items</a></li>
        <li><a href="form_advanced.html">Notes</a></li>
        <% end %>
    </ul>
</li>
<li>
    <a href="meetings"><i class="fa fa-files-o"></i> <span class="nav-label">Planned Meetings </span><span class="label label-primary pull-right"><%= current_user.meetings.count if current_user %></span></a>
    <ul class="nav nav-second-level">
        <% current_user.meetings.each do |meeting| %>
        <li><%= link_to meeting.name, meeting %></li>
        <% end %>
    </ul>
</li>
<li>
    <a href="meetings"><i class="fa fa-files-o"></i> <span class="nav-label">Recent Meetings </span><span class="label label-info pull-right"><%= current_user.meetings.count if current_user %></span></a>
    <ul class="nav nav-second-level">
        <% current_user.meetings.each do |meeting| %>
        <li><%= link_to meeting.name, meeting %></li>
        <% end %>
    </ul>
</li>
<% end %>
<li>
    <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Admin</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><%= link_to 'About', page_path('about') %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Edit account', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to 'Users', users_path %></li>
          <% end %>
        <% end %>
    </ul>
</li>

<li>
    <a href="css_animation.html"><i class="fa fa-magic"></i> <span class="nav-label">Newsfeed </span><span class="label label-info pull-right">62</span></a>
</li>
<li class="special_link">
    <a href="angularjs.html"><i class="fa fa-google"></i> <span class="nav-label">iViews Integration</span><span class="label pull-right">NEW</span></a>
</li>


